@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap);
*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
body{
    background-color: rgb(10, 17, 28);
    color: #EEF0F2;
    font-family: 'Poppins';
    margin: 50px;
}

main {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 7;
}

.company{
    display: flex;
    align-items: center;
    grid-column: 1;
    grid-row:1;
    margin-left: 10px;
}

.slogan{
    flex-direction: column;
    align-content: center;
}


.logo {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
}
 
h1 {
    font-family: 'Poppins';
    font-style: bold;
    font-size: 3rem;
    grid-column: 1;
    grid-row:2;
    margin-left: 110px;
}

a {
    color:#EEF0F2;
}

.item{
    grid-column:1;
    grid-row-start: 3;
    font-family: 'Poppins';
    font-family: 'Poppins';
    font-style: bold;
    padding: 10%;
    text-align: justify
}

.teletransp-area {
    grid-column: 2;
    grid-row: 2 / 5;
    display:grid;
}

.teletransp {
    height:60vh;
    width:60vh;
}