@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap);

body{
    background-color: rgb(10, 17, 28);
    color: #EEF0F2;
    font-family: 'Poppins';
}

.company{
    display: flex;
    align-items: center;
}

.slogan{
    flex-direction: column;
    align-content: center;
}

h1 {
    font-family: 'Poppins';
    font-style: bold;
}

.logo {
    width: 200px;
    height: 200px;
}

