@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;800&display=swap');

*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
body{
    background-color: rgb(10, 17, 28);
    color: #EEF0F2;
    font-family: 'Poppins';
    margin: 50px;
}

main {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 8;
}

.company{
    display: flex;
    align-items: center;
    grid-column: 1;
    grid-row:1;
    margin-left: 10px;
}

.slogan{
    flex-direction: column;
    align-content: center;
}

h1 {
    font-family: 'Poppins';
    font-style: bold;
    font-size: 1.5rem;
}

h2 {
    font-family: 'Poppins'; 
    font-weight: 200;
    font-size: 1.5rem;
}
.logo {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

nav {
    grid-column: 2/3;
    align-content: center;
}

ul {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    max-width: 720px;
}

.nav-item {
    padding: 10px;
    margin-left:10px;
    margin-right:10px;
} 

.text-button1{
    grid-column:1;
    grid-row: 3;
    max-width: 20rem;
    font-family: 'Poppins';
    font-size: 0.8rem;
    font-weight: 200;
}

button{
    font-family: 'Poppins';
    background-color: rgba(155, 9, 132, .7);
    color:#EEF0F2;
    border-radius: 60%;
    height: 8vh;
    width: 8vw;
    font-size: 3vh;
}
.world-area {
    grid-column: 2/3;
    grid-row: 2/ 6;
    justify-content: center;
}

.world {
    height:60vh;
    width:80vh;
    display: flex;
}

.text-button2 {
    grid-column: 1;
    grid-row:5;
    margin-left: 15px;
    margin-top: 5rem;
}

footer {
    grid-column: 1;
    grid-row: 8;
    margin-top: 2.5rem;
}