@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap);
*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
body{
    background-color: rgb(10, 17, 28);
    color: #EEF0F2;
    font-family: 'Poppins';
    margin: 30px 40px;
}

main {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 7;
}

.company{
    display: flex;
    align-items: center;
    grid-column: 1;
    grid-row:1;
    margin-left: 10px;

}

.slogan{
    flex-direction: column;
    align-content: center;
}

h1 {
    font-family: 'Poppins';
    font-style: bold;
}

.logo {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    
}

nav {
    grid-column: 2;
    align-content: center;
}

ul {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.nav-item {
    padding: 5px;
} 

.text-button1{
    grid-column:1;
    grid-row-start: 3;
}

button{
    font-family: 'Poppins';
    background-color: rgba(155, 9, 132, .7);
    color:#EEF0F2;
    border-radius: 60%;
    height: 8vh;
    width: 8vw;
    font-size: 4vh;
}
.world-area {
    grid-column: 2;
    grid-row: 2 / 5;
    display:grid;
}

.world {
    height:60vh;
    width:60vh;
}